.api-volunteer-manager {}

.term-pill {
  padding: 3px 7px;
  border-radius: 3px;
}

.button-primary__red.button-primary {
  color: #fff;
  background-color: #d63638;
  border-color: #d63638;
  text-shadow: 0 -1px 1px #ac2925, 1px 0 1px #ac2925, 0 1px 1px #ac2925, -1px 0 1px #ac2925;
  box-shadow: 0 1px 0 #ac2925;
}

.button-primary__red.button-primary:hover,
.button-primary__red.button-primary:focus,
.button-primary__red.button-primary:active {
  color: #fff;
  background-color: #bd2f31;
  border-color: #ac2925;
}

.button-primary__red.button-primary:active {
  -webkit-box-shadow: inset 0 2px 0 #ac2925;
  box-shadow: inset 0 2px 0 #ac2925;
}
