#applications_meta_box {
    .inside {
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        text-align: left;
        padding: 10px;
    }

    .title a {
        text-decoration: none;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    .actions {
        display: flex;
        justify-content: space-evenly;
    }

    .red {
        color: #dd3333;
    }

    .empty_result {
        padding: 8px;
    }
}